@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
hr {
    width: 300px;
    margin: 0 0 53px 0;
    height: 2px;
    background: #C4C4C4;
    border: none;
}
#first-page {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}
#first-page_title {
    margin: 0 0 20px 0;
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: 40px;
}
#first-page_inner {
    display: flex;
    justify-content: space-between;
}
#first-page_left {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#change_author, #change_author2 {
    display: none;
}
#register, #slash, #enter {
    display: none;
    margin: 0 0 20px 0;
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: 40px;
}
#register {
    color: #ACACAC;
}

#first-page_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
.field_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#forgot_password {
    display: block;
    font-family: 'Fira Sans', serif;
    font-size: 16px;
    color: #243D56;
    padding: 0
}
.field_label {
    font-family: "Fira Sans", serif;
    font-size: 18px;
    padding: 10px 0;
}
#field_label_right {
    padding-right: 30px;
}
.field_input {
    height: 25px;
    width: 200px;
    border: 1px solid black;
}
#field_button {
    background-color: #DBBB80;
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    border: 1px solid #97763A;
    transition: background-color 1s;
    width: 40%;
    height: 50px;
}
#field_button:hover {
    background-color: #e5cfa7;
}

#entrance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

#registr.non-display {
    display: none;
}
#entrance.non-display {
    display: none;
}
#entrance.display {
    display: block;
}



.popup {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease 0s;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color: #fff;
    color: black;
    max-width: 500px;
    padding: 30px;
    position: relative;
    transition: all 0.6s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
#popup_content_with_img {
    max-width: 800px;
}
#popup_content_img {
    width: 100%;
}
.popup_close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.popup_close img {
    width: 23px;
}
.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup_content {
    transform: translate(0px, 0px);
    opacity: 1;
}
body.lock {
    overflow: hidden;
}
.comment_header {
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 35px;
}
.comment_body {
    font-family: "Fira Sans", serif;
    font-size: 20px;
}
#forgot_button {
    font-family: "Ubuntu", serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 40px;
    background-color: #DBBB80;
    border: 1px solid #97763A;
    width: 40%;
    height: 50px;
    transition: background-color 1s;
 }
#forgot_button:hover {
    background-color: #e5cfa7;
}
.additional_info {
    font-family: 'Fira Sans', serif;
    font-size: 14px;
    color: #243D56;
    margin-bottom: 60px;
}

#error {
    color: #C60000;
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: 18px;
}



@media (min-width: 1250px) {
    #first-page {
        width: 1170px;
    }
    /*#first-page_left #first-page_right {*/
    /*    display: none;*/
    /*}*/
    #registr.non-display {
        display: block;
    }
    #entrance.non-display {
        display: flex;
    }
    #entrance.display {
        display: flex;
    }


}
@media (max-width: 1249px) {
    #first-page {
        width: 960px;
    }


    #registr {
        display: block;
    }
    #entrance {
        display: flex;
    }
    #registr.non-display {
        display: block;
    }
    #entrance.non-display {
        display: flex;
    }
    #entrance.display {
        display: flex;
    }
}
@media (max-width: 1024px) {
    #first-page_title {
        display: none;
    }

    #first-page {
        width: 100%;
        max-width: 720px;
    }
    #first-page_right {
        display: none;
    }
    #first-page_left, #entrance {
        width: 80%;
    }

    #register, #slash, #enter {
        display: inline;
    }
    hr {
        margin-top: 20px;
    }

    #first-page_inner {
        flex-direction: column;
    }


    #registr.non-display {
        display: none;
    }
    #entrance.non-display {
        display: none;
    }
    #entrance.display {
        display: block;
    }

    #entrance, #entrance hr {
        display: none;
    }
    #registr {
        display: block;
    }
    #change_author:checked ~ label #register {
        color: black;
    }
    #enter {
        color: #ACACAC;
    }
    #change_author2:checked ~ label #enter {
        color: black;
    }



    #footer {
        display: none;
    }
}
@media (max-width: 767px) {     /*  mobile  */
    #first-page {
        width: 100%;
        padding: 0 15px 0 15px;
    }

}
@media (max-width: 600px) {

}
@media (max-width: 575px) {
    #field_button {
        width: 50%;
    }
}
@media (max-width: 530px) {
    #first-page_title, #register, #slash, #enter {
        font-size: 30px;
    }
    .field_label {
        font-size: 16px;
    }
    #first-page_left, #entrance {
        width: 100%;
    }
}
@media (max-width: 415px) {
    #first-page {
        margin-bottom: 100px;
    }
    #first-page_title {
        font-size: 25px;
    }
    .field_label, #forgot_password {
        font-size: 14px;
    }
    .field_input {
        width: 150px;
    }
    #field_input_forgot {
        width: 140px;
    }
    #forgot_button {
        width: 60%;
    }

    #field_button {
        width: 60%;
    }
    hr {
        width: 200px;
    }
}
