@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
body{
    margin:0;
}
a {
    color: black;
    text-decoration: none;
}
.body-el{
    width: 100%;
}
img {
    height: inherit;
}
#header{
    background-color: #243D56;
    height: 80px;
    top: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-pic {
    height: 45px;
    width: 45px;
    position: fixed;
    filter: invert(100%);
}

#logo{
    left: 19.27%;
    right: 65%;
    width: 260px;

    position: fixed;
}

#basket-icon{
    left: 68.12%;
    right: 30.68%;
}

#user-icon{
    left: 72.18%;
    right: 27.26%;
}

#menu-icon{
    left: 80.19%;
    right: 16.52%;
}




#footer{
    position: relative;
    top: 100px;
    background-color: #243D56;
    height: 380px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
#logof{
    left: 19.27%;
    right: 65%;
    width: 300px;
    position: relative;
}
#contacts{
    position: relative;
    left: 25%;
    font-family: Ubuntu, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

#contacts p{
    margin: 20% 0 20% 0;
    white-space: pre;
}

#top-cont {
    display: flex;
    justify-content: center;
    width: fit-content;
}

#top-cont img, #bottom-cont img{
    height: 40px;
}

#top-cont img{
    position: relative;
    top: 15%;
}

#top-cont p{
    left:15%;
}

#bottom-cont p{
    left: 10%;
}

#top-cont p, #bottom-cont p{
    position: relative;
    font-family: Ubuntu, sans-serif;
    font-size: 27px;
    font-weight: 200;
    color: white;
}

#bottom-cont img{
    filter: invert(100%);
}

#bottom-cont {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    position: relative;
}
#link{
    height: 150px;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30%;
}


