@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
.body-el{
    width: 100%;

}

#info {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.info-block{
    height: fit-content;
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.info-block div>p{
    font-family: Fira Sans,sans-serif;

    font-weight: 400;
    text-align: left;
    margin-left: 1%;
    white-space: pre;
}



.info-label{

    width: fit-content;
}
.info-label > p{
    font-size: 29px;
}
hr {
    margin: 0 0 45px 0;
    position: relative;
    width: 100%;
    height: 2px;
    background: #C4C4C4;
}

.info-content{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.info-content p{
    font-size: 23px;
}
img.info-icon {
    width: 38px;
}

div.callback-number{
    display: flex;
    align-items: center;
    height: 55px;

}
div.callback-mail{
    display: flex;
    align-items: center;
    height: 55px;
}

div.callback-number>p{
    margin-bottom: 2.5%;
    margin-left: 35px;
}

div.callback-mail p{
    margin-left: 35px;
}

#location{
    height: 75px;
}


#placeholder {
    margin-right: 20px;
    width: 45px;
}

div.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.schedule>p{
    height: 30px;
    width: 100px;
}

div.schedule p.time{
    font-size: 23px;
    height: 28px;
    margin: 15px;
}

#office{
    flex-direction: row;
    justify-content: center;
    height: 420px;
}
#adress{
    height: 550px;
    margin-bottom: 100px;
}
#office-map{
    width: 640px;

}
iframe{
    padding: 20px;
}
#office-text{
    width: 530px;
}
#top-text{
    display: flex;
    flex-direction: row;
}
#bottom-text p{
    font-size: 21px;
}
#callback-number-bottom{

    display: flex;
    align-items: center;
    height: 55px;
    margin-top: 60px;
    margin-left: 5px;
}
#numbers{
    margin-left: 35px;
    margin-top: 45px;
}
#mail-top{
    margin-top: 50px;
}
#quest{
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

#quest-right{
    width: 54.7%;
}
#quest-left{
    width: 45.3%;
}

@media (max-width: 1250px) {
    #bottom-text .aux_info, #callback-number-bottom p {
        font-size: 19px;
    }
    .info-block{
        width: 960px;
    }
    .info-block div>p{
        font-size: 27px;
    }
    div.info-content p{
        font-size: 21px;
    }
    div.schedule p.time{
        font-size: 21px;
    }

}
@media (max-width: 1024px) {
    #bottom-text .aux_info, #callback-number-bottom p {
        font-size: 18px;
    }
    .info-block{
        width: 750px;
    }
    .info-block div>p{
        font-size: 26px;
    }
    div.info-content p{
        font-size: 20px;
    }
    div.schedule p.time{
        font-size: 20px;
    }
    #quest-right{
        width: 50%;

    }
    #quest-left{
        width: 50%;
    }
    img.info-icon{
        width: 36px;
    }
}
@media(max-width: 768px) {
    #bottom-text .aux_info, #callback-number-bottom p {
        font-size: 17px;
    }
    .info-block {
        width: 560px;
    }

    hr {
        width: 560px;
    }

    .info-block div > p {
        font-size: 25px;
    }

    div.info-content p {
        font-size: 19px;
    }

    div.schedule p.time {
        font-size: 19px;
        height: 15px;
        margin-top: 14px;
    }

    #office {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    #office-text {
        display: flex;
        flex-direction: column;
    }

    img.info-icon {
        width: 32px;
    }
    #location{
        height: 70px;
    }
    #placeholder{
        width: 37px;
    }

    #numbers {
        margin-left: 25px;
        margin-top: 40px;
    }

    div.callback-number > p {
        margin-left: 25px;
    }

    div.callback-mail p {
        margin-left: 25px;
    }
    #callback-number-bottom{
        margin-top: 0;
    }
    #office-map{
        margin: 50px 0;
        width: 500px;
        height: 500px;
    }
    iframe{
        padding: 0;
    }
}
@media (max-width: 575px) {
    #bottom-text .aux_info, #callback-number-bottom p {
        font-size: 15px;
    }
    .info-block{
        width: 480px;
    }
    hr{
        width: 480px;
    }
    .info-block div>p{
        font-size: 21px;
    }
    #location{
        height: 65px;
    }
    div.info-content p{
        font-size: 17px;
    }
    div.schedule p.time{
        font-size: 17px;
        margin-top: 18px;
    }
    #office-map{
        margin: 50px 0;
        width: 450px;
        height: 450px;
    }

}
@media (max-width: 500px) {
    .info-label{
        width: 350px;
    }
    div.info-block >div.info-label>p{
        white-space: normal;
        margin-bottom: 30px;
    }

    .info-block{
        width: 365px;
    }
    hr{
        width: 365px;
    }
    img.info-icon{
        width: 25px;
    }
    #location{
        height: 60px;
    }
    #placeholder{
        width: 30px;
    }
    #office-map{
        margin: 50px 0;
        width: 360px;
        height: 360px;
    }
}

@media(max-width: 375px) {
    #info{
        display: block;
        padding: 10px;
    }
    #office-text{
        display: block;
    }
    #office{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    #numbers{
        margin-left: 15px;
    }
    div.callback-number>p{
        margin-left: 15px;
    }
    div.callback-mail p{
        margin-left: 15px;
    }
    #mail-top{
        margin-top: 10px;
    }
    .info-label{

        width: 275px;
    }

    .info-block{
        width: 275px;
        margin-bottom: 20px;
    }
    hr{
        width: 275px;
    }
    img.info-icon{
        width: 25px;
    }
    #location{
        height: 55px;
    }
    .info-block div>p{
        font-size: 18px;
    }
    div.info-content p{
        font-size: 14px;
    }
    div.schedule p.time{
        font-size: 14px;
        margin: 10px 0;
    }
    #quest{
        flex-direction: column;
    }
    #office-map{
        margin: 50px 0;
        width: 280px;
        height: 280px;
    }
}

