@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
.body-el{
    width: 100%;
}

img {
    height: inherit;
}

#second-page {

    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/*пошук*/
.catalog_and_search form {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog2 {
    display: flex;
    height: calc(35px + 25 * (100vw / 1920));
    width: calc(35px + 25 * (100vw / 1920));
}
#catalog2_text {
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;

    font-size: calc(15px + 15 * (100vw / 1920));
    font-family: Ubuntu, sans-serif;
}
.search2 {
    display: flex;
}
.search2 input {
    width: 600px;
    height: 48px;
    border: 1px solid black;
    font-size: large;
    background: #EFEFEF;
}
.search2 button {
    height: 48px;
    background: #243D56;
    border: 1px solid black;
}
#search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
    height: 42px;
    width: 60px;
}
#search-icon img {
    height: 30px;
    width: 30px;
}

hr {
    width:585px;
    margin-left:0;margin-right:0;
    height: 2px;
    background: #C4C4C4;
    border: none;
}


#third-page {
    margin-left: auto;
    margin-right: auto;
    height: 550px;
}
#third-page_inner {
    display: flex;
    justify-content: space-between;
    /*background-color: #C4C4C4;*/
    width: 1170px;
    height: 100%;
}
#third-page_middle {
    /*background-color: #0f6674;*/
    width: 900px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
#third-page_large {
    width: 1900px;
    height: 500px;
    position: absolute;
}

.button_plus, .button_minus {
    width: 70px;
}
.button_plus {
    transform: rotate(180deg)
}


ul {
    padding: 0;
}
li {
    list-style: none;
}
.catalog {
    position: absolute;
    display: flex;
    /*flex-wrap: wrap;*/
}
.list_item {
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.button_basket {
    display: flex;
}
.button_basket_text {
    margin: 0;
    padding-left: 10px;
}
.button_basket a {
    width: 135px;
    height: 43px;
    background-color: #DBBB80;
    /*height: calc(50px + 30 * (100vw / 1920));*/
    font-family: 'Fira Sans', serif;
    font-size: 18px;
    /*font-size: calc(14px + 10 * (100vw / 1920));*/
    text-align: center;
    line-height: 43px;
    /*line-height: calc(50px + 30 * (100vw / 1920));*/
    border: 1px solid #97763A;
    transition: background-color 1s;

    display: flex;
    justify-content: center;
}
.button_basket a img {
    width: 30px;
}
.button_basket a:hover {
    background-color: #e5cfa7;
}
.ph {
    padding: 0 7px 0 7px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ph a {
    height: 360px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: opacity 0.8s;
}
.ph a:hover {
    opacity: 0.7;
}
.for_photo img {
    /*width: 100%;*/      /*  need refactor  */
    width: 250px;
    padding: 10px 10px 30px 10px;
}

.description {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Fira Sans", serif;
    text-align: center;
}
.description_info {
    margin: 0;
    /*font-size: 20px;*/
    font-size: calc(14px + 6 * (100vw / 1920));
}
.description_price {
    margin: 0;
    font-weight: bold;
    /*font-size: 30px;*/
    font-size: calc(17px + 13 * (100vw / 1920));
}


.category-label p{
    white-space: pre;
    text-align: center;
}

.category-label{

    height: 50px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.category-label > p {
    font-family: Ubuntu, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 30px;

}
div.category-label > a > p  {
    font-family: Ubuntu, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 30px;
}


@media (min-width: 1250px) {
    #third-page {
        width: 1170px;
    }
    #second-page {
        width: 1100px;
    }

    .ph a {
        width: 100%;
        height: 380px;      /* changing */
        overflow: hidden;
    }
    .ph a img {
        /*width: 250px;     !*  need refactor  *!*/
        max-height: 250px;
        /*width: 100%;*/
        /*height: 100%;*/    /*  need refactor  */
        object-fit: cover;
        object-position: center;
    }



}
@media (max-width: 1249px) {
    #second-page, #third-page, #third-page_inner {
        width: 960px;
    }
    #third-page_middle {
        width: 690px;
    }
    .list_item {
        width: 230px;
    }
    .for_photo img {
        width: 230px;
    }
    .ph a img {
        max-height: 230px;
    }
    .category-label {
        width: 960px;
    }

}
@media (max-width: 1024px) {
    #second-page, #third-page, #third-page_inner {
        width: 100%;
        max-width: 720px;
    }
    #third-page_middle {
        width: 450px;
    }
    .for_photo img {
        width: 230px;
    }
    .ph a img {
        max-height: 230px;
    }
    .category-label {
        width: 720px;
    }
    .button_plus, .button_minus {
        width: 50px;
    }
    div.category-label a p, div.category-label > p {
        font-size: 32px;
        margin: 25px;
    }
    /*  catalog&search  */
    .search2 input {
        width: 400px;
        height: 40px;
    }
    .search2 button {
        height: 40px;
    }
    #search-icon {
        height: 34px;
        width: 50px;
    }
    #search-icon img {
        height: 25px;
        width: 25px;
    }
}
@media (max-width: 767px) {     /*  mobile  */
    #second-page, #third-page, #third-page_inner, .category-label {
        width: 100%;
        padding: 0 15px 0 15px;
    }
    #third-page_middle {
        width: 450px;
    }
    .list_item {
        height: 400px;
    }
    #third-page {
        height: 450px;
    }
    #third-page_middle, #third-page_large {
        height: 400px;
    }


    .search2 input {
        width: 300px;
    }
    .catalog_and_search, .catalog_and_search form {
        height: 160px;
    }
    div.category-label a p, div.category-label > p {
        font-size: 28px;
        margin: 20px;
    }
}
@media (max-width: 635px) {
    #third-page_middle {
        width: 350px;
    }
    .list_item, .for_photo img {
        width: 175px;
    }
    .ph a {
        height: 310px;
    }
    .ph a img {
        max-height: 175px;
    }
    .description {
        height: 120px;
    }
    .button_plus, .button_minus {
        width: 40px;
    }
}
@media (max-width: 575px) {
    .search2 input {
        width: 200px;
    }

}
@media (max-width: 500px) {
    .catalog_and_search, .catalog_and_search form {
        height: 100px;
    }
    .search2 input {
        width: 150px;
        height: 35px;
    }
    .search2 button {
        height: 35px;
    }
    #search-icon {
        height: 28px;
        width: 44px;
    }
    #search-icon img {
        height: 22px;
        width: 22px;
    }


    #third-page_middle {
        width: 300px;
    }
    .list_item, .for_photo img {
        width: 150px;
    }
    .for_photo img {
        padding-bottom: 10px;
    }
    .ph a {
        height: 310px;
    }
    .ph a img {
        max-height: 175px;
    }
    .description {
        height: 120px;
    }
    .button_plus, .button_minus {
        width: 40px;
    }
}
@media (max-width: 460px) {
    #third-page {
        height: 380px;
    }
    #third-page_large, #third-page_middle, #third-page_inner {
        height: 330px;
    }
    #third-page_middle {
        width: 200px;
    }
    .list_item, .for_photo img {
        width: 100px;
    }
    .ph a, .list_item {
        height: 250px;
    }
    .button_plus, .button_minus {
        width: 30px;
    }
}


@media (max-width: 400px) {
    .search2 input {
        width: calc(10px + 190 * (100vw / 400));
    }
    #catalog2_text {
        display: none;
    }
}
@media (max-width: 375px){
    .slide_cont-3{
        display: none;
    }
    div.category-label a p, div.category-label > p {
        font-size: 24px;
        margin: 15px;
    }
    .slider-container{
        height: 350px;
        width: 250px;
    }

    .slide-img {
        height: 55%;

    }
}








