#picture-page{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 737px;
}
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 737px;
    overflow: hidden;    /* ph */
}
.banner img {
    position: absolute;
    width: 100%;        /* ph */
    height: 100%;       /* ph */
    object-fit: cover;   /* ph */
    object-position: center;   /* ph */
}
.text_before_banner {
    z-index: 300;
}
.slogan {
    text-shadow: 0 4px 4px #000000;
    text-align: center;
    color: #ffffff;
}

#top-slogan {
    height: 63px;
    font-family: Ubuntu, monospace ;
    font-weight: bold;
    font-size: calc(20px + 37 * (100vw / 1920));
}

#bottom-slogan {
    height: 110px;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    font-size: calc(15px + 25 * (100vw / 1920));
}

@media (max-width: 1024px) {
    #picture-page, .banner {
        height: 500px;
    }
}
@media (max-width: 767px) {
    #picture-page {
        margin-top: 60px;
    }
}
@media (max-width: 500px) {
    #picture-page, .banner {
        height: 400px;
    }
}
@media (max-width: 375px) {
    #picture-page {
        margin-top: 50px;
    }
}

